# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [6]:
a, b, c, d = -1, -1, 200, 200
print("Are values the same: ", a==b, c==d)
print("Are these same objects:", id(a)==id(b), id(c)==id(d))

Are values the same:  True True
Are these same objects: True True

Так, змінні різні по значенню та посилаються на один і той самий об'єкт.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [17]:
print(isinstance(True, bool))
print(isinstance(True, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [12]:
x=2
y=11.3
print("x+y=", x+y)
print("x-y=", x-y)
print("x/y=", x/y)
print("x*y=", x*y)
print("x//y=", x//y)
print("x%y=", x%y)
print("y%x=", y%x)
print("x**y=", x**y)
print("y**x=", y**x)

x+y= 13.3
x-y= -9.3
x/y= 0.17699115044247787
x*y= 22.6
x//y= 0.0
x%y= 2.0
y%x= 1.3000000000000007
x**y= 2521.38375853039
y**x= 127.69000000000001

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [2]:
y=11.3
print(y)
print(int(y))
boolean=False
print(boolean)
print(int(boolean))

11.3
11
False
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [24]:
str1=""
str2=''

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [20]:
str1="\'"
print(str1)
str2 = r""+str1
print(str2)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [28]:
str1= "My dog is crazy."
str1=str1.lower()
arr=str1.split(" ")
print(arr)

['my', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [29]:
arr1=[1,2,3]
arr2=list(range(0,10))
print(arr1)
print(arr2, len(arr2))

[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 10

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [35]:
arr1=list(range(-20, 1, 3))
arr2=list(range(1,7,5))
arr1.append(arr2)
print(arr1)

[-20, -17, -14, -11, -8, -5, -2, [1, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [37]:
arr1=[[3, 5, 6], [7, 1], [5, 1, 6, 7]]
print(arr1[len(arr1)-1][0])

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [38]:
arr1=[1, 1.0, False, (1,1), "srt", [16, 7], {"name":"Nazar"}, None, b"bytes", 1j]
arr2=arr1[2:-2]
print(arr2)

[False, (1, 1), 'srt', [16, 7], {'name': 'Nazar'}, None]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [4]:
t=(1,)
print(isinstance(t, tuple))

True

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Списки як і кортежі зберігають декілька значень та можуть видавати їх за індексом, проте кортежі не є mutable, тобто після створення їх не можна змінювати.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [7]:
t=(1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
print(t)
t2=t[::-2]
print(t2)

(1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [8]:
s=set()
s.add(3)
s.add(100)
s.add(1)
print(s)

{1, 3, 100}

Так, множини є змінним типом даних, бо ми можемо додавати до неї елементи та видаляти їх.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [13]:
 my_list = [1, 1, 2, 67, 67, 8, 9]
 s=set(my_list)
 print(s)

{1, 2, 67, 8, 9}

Множини можуть містити лиш унікальні елементи, тому усі повтори елементів були прибрані.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [14]:
s1=set([1,2,3,4,5])
s2=set([4,5,6,7,8])
print(s1.union(s2))
print(s1.difference(s2))
print(s1.intersection(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5}
{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [10]:
d={}
d["123"]=1
d[1]=2
d[True]=3
d[13.01]=4
print(d)

{'123': 1, 1: 3, 13.01: 4}

Ні, не може, бо список це mutable об'єкт.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [11]:
d={1:{2:{3:4}}}
print(d[1][2][3])

4

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.